/*

!/.env
!/.gitignore
!/.dockerignore
!/.github/
!/.github/workflows/
!/.github/workflows/release-please.yml
!/Dockerfile
!/docker-compose.yml
!/LICENSE
!/logo-typo3.png
!/README.md
!/railway.toml
!/release-please-config.json
!/.release-please-manifest.json
!/CHANGELOG.md
!/version.txt
